<div id="experience" class="background-alt full-width">
    <h2 class="heading">Experience</h2>
    <div id="experience-timeline">
        <div data-date="August 2020 – September 2020">
            <h3>Perksense</h3>
            <h4>Scrum Master</h4>
            <p>
                <ul>
                    <li>Designed and planned prototype for all-in-one app for restaurants utilizing Node.js and React Native, designing an ecosystem for franchises, merchants, suppliers and customers</li>
                    <li>Managed and mentored 4 interns, and executed Agile methodologies</li>
                    <li>Managed Git repository, server and deployed Docker containers</li>
    
                </ul>
            </p>

        </div>

        <div data-date="June 2020 – July 2020">
            <h3>Perksense</h3>
            <h4>Software Engineering Intern</h4>
            <p>
            <ul>
                <li>Built a restaurant focused mobile ordering system app with React Native</li>
                <li>Developed testing infrastructure and created integration testing for 20 controllers for back-end
                    server using Jest</li>
                <li>Designed back-end of restaurant reservation system powered with Node.js frameworks with Fastify and
                    Sequelize ORM</li>
                <li>Secured restaurant service by providing authentication to all controllers leveraging JWT and
                    Firebase</li>

            </ul>
            </p>
        </div>

        <div data-date="June 2019 – August 2019">
            <h3>Yee Lee Corporation</h3>
            <h4>Software Engineering Intern</h4>
            <p>
            <ul>
                <li>
                    Created employee facing storefront redemption website, specifically backend, for company of 5000with
                    .NET MVC framework and C#
                </li>
                <li>Implemented several website modules specializing in specific function, using the Entity Framework
                    tointeract with database with “separation of concerns” architecture, providing ideal codebase which
                    isscalable and beneficial for future
                    developers
                </li>
                <li>
                    Operated version control software such as Git and Subversion, streamlining development with
                    otherdevelopers and giving structure to code
                </li>
            </ul>
            </p>
        </div>
    </div>
</div>
<!-- End #experience -->

<div id="education">
    <h2 class="heading">Education</h2>
    <div class="education-block">
        <h3>San Jose State University</h3>
        <span class="education-date">August 2019 - May 2022</span>
        <h4>Bachelor of Science in Computer Science</h4>
        <p>
            Coursework Taken:
        <ul>
            <li>Data Structures and Algorithms</li>
            <li>Object Oriented Design</li>
            <li>Computer Architecture</li>
            <li>Operating Systems</li>
            <li>Machine Learning</li>
            <li>Database Management Systems</li>
        </ul>
        </p>
    </div>
    <!-- End .education-block -->

    <div class="education-block">
        <h3>Stanford Coursera</h3>
        <span class="education-date">August 2019 - Present</span>
        <h4>Online</h4>
        <ul>
            <li>
                Andrew Ng Machine Learning
            </li>

        </ul>
    </div>
    <!-- End .education-block -->
</div>
<!-- End #education -->

<div id="projects" class="background-alt full-width">
    <h2 class="heading">Projects</h2>
    <div class="container">
        <div class="row">
            <div class="project shadow-large">
                <div class="project-image">
                    <img src="../assets/img/aboutme/learningprinciple.PNG" />
                </div>
                <!-- End .project-image -->
                <div class="project-info">
                    <h3>Learning Principle</h3>
                    <p>
                        A dynamic website which acts as a helper for learning certain topics. Features include a full-fledge document editor, notes which can be sorted based on class, and checkpoints which can benchmark your knowledge on a certain topic.
                    </p>
                    <a href="http://learningprinciple.chinzhengyao.com/">View Project</a> |
                    <a href="https://github.com/zychin2000/learning-tracker">View Source Code</a>
                </div>
                <!-- End .project-info -->
            </div>

            <div class="project shadow-large">
                <div class="project-image">
                    <img src="../assets/img/aboutme/project2.png" />
                </div>
                <!-- End .project-image -->
                <div class="project-info">
                    <h3>FoodBank | Twitter Hackathon Project</h3>
                    <p>
                    Develop a Twitter bot in Python that alerts the homeless to food banks. Used the Twitter API to detect tweets that contain specified keywords and retweet those tweets. Programmed the Twilio API to send a text message that contains the tweet’s message.
                    </p>
                    <a href="https://github.com/zychin2000/FoodBank">View Source Code</a>
                </div>
                <!-- End .project-info -->
            </div>

            <!-- End .project --><div class="project shadow-large">
                <div class="project-image">
                    <img src="../assets/img/aboutme/project3.PNG" />
                </div>
                <!-- End .project-image -->
                <div class="project-info">
                    <h3>Realtime Multi-threaded Socket Server</h3>
                    <p>
                        A real-time multi-threaded web server using sockets to deliver services for different clients concurrently. Created using Java, it can effectively transfer text and binary files with very little delay. 
                    </p>
                    <a href="https://github.com/zychin2000/echo">View Source Code</a>
                </div>
                <!-- End .project-info -->
            </div>
            <!-- End .project -->

            
            <!-- End .project -->
        </div>
    </div>
</div>
<!-- End #projects -->

<div id="skills">
    <h2 class="heading">Skills</h2>
    <ul>
        <li>JavaScript</li>
        <li>Python</li>
        <li>Node.js</li>
        <li>React</li>
        <li>Java</li>
        <li>Scala</li>
        <li>C</li>
        <li>C#</li>
        <li>Docker</li>
        <li>Spring Boot</li>
        <li>Django</li>
        <li>Flask</li>
        <li>Tensorflow</li>
        <li>SQL</li>
        <li>MySQL</li>
    </ul>
</div>
<!-- End #skills -->

<div id="contact">
    <h2>Get in Touch</h2>
    <div id="contact-form">
        <form method="POST" action="https://formspree.io/zychin2000@email.com">
            <input type="hidden" name="_subject" value="Contact request from personal website" />
            <input type="email" name="_replyto" placeholder="Your email" required>
            <textarea name="message" placeholder="Your message" required></textarea>
            <button type="submit">Send</button>
        </form>
    </div>
    <!-- End #contact-form -->
</div>